{% extends 'base.html' %}

{% block content %}
Welcome to PawPack!

<div id="barks">
    Loading...
</div>

<script>
const barksElement = document.getElementById("barks")

const xhr = new XMLHttpRequest()
const method = 'GET'
const url = '/barks'
const responseType = 'json'

function handleDidLike (bark_id, currentCount) {
    console.log(bark_id, currentCount)
}

function LikeBtn(bark) {
    return "<button class='btn btn-primary btn-sm' onclick=handleDidLike(" + bark.id + "," + bark.likes + ")>" + bark.likes + " Barks</button>"
}

function formatBarkElement(bark) {
    let formattedBark = `
    <div class='mb-4 bark' id='bark-${bark.id}'>
        <p>${bark.content} </p>
        <div class ='btn-group'>${LikeBtn(bark)}</div>
    </div>`
    return formattedBark
}

xhr.responseType = responseType
xhr.open(method, url)
xhr.onload = function() {
    const serverResponse = xhr.response
    let listedItems = serverResponse.response
    let finalBarkStr = ''
    let i;
    for (i = 0; i < listedItems.length; i++) {
        var barkObj = listedItems[i]
        let currentItem = formatBarkElement(barkObj)
        finalBarkStr += currentItem
    }
    barksElement.innerHTML = finalBarkStr
    console.log(listedItems)
}
xhr.send()

</script>
{% endblock content %}