{% extends 'base.html' %}

{% block content %}
Welcome to PawPack!

<div id="barks">
    Loading...
</div>

<script>
const barksElement = document.getElementById("barks")

const xhr = new XMLHttpRequest()
const method = 'GET'
const url = '/barks'
const responseType = 'json'

xhr.responseType = responseType
xhr.open(method, url)
xhr.onload = function() {
    const serverResponse = xhr.response
    let listedItems = serverResponse.response
    let finalBarkStr = ''
    let i;
    for (i = 0; i < listedItems.length; i++) {
        let currentItem = `<div class='mb-4'><h1> ${listedItems[i].id} </h1> <p> ${listedItems[i].content} </p></div>`
        finalBarkStr += currentItem
    }
    barksElement.innerHTML = finalBarkStr
    console.log(listedItems)
}
xhr.send()

</script>
{% endblock content %}